.menuButton {
 -fx-background-color: #d9d9d9;
}

.label{

}

.stockName{
 -fx-font-size: 20;
 -fx-font-weight: bold;
}

.backgroundPanelStockView{
 -fx-fill: white;
}

.onHover{
 -fx-background-color: ORANGE;
}

.chart-line-symbol {
 -fx-background-color: transparent;
}


.chart-series-line {
 -fx-stroke: #339ACC;
}

.searchField {
 -fx-focus-color: #339ACC;
}

.searchField, .arrow, .arrow-button{
 -fx-background-color: white;
}

.searchField > .arrow-button {
 -fx-padding: 0;
}

.searchField > .arrow-button > .arrow {
 -fx-padding: 0;
}