@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.root{
  -fx-font-family: "Montserrat Regular", sans-serif;
}

.menuButton {
  -fx-background-color: #d9d9d9;
  -fx-padding: 5 10 5 10;

}

.scroll-pane:focused{
  -fx-focus-color: transparent;
  -fx-border-color: transparent;
  -fx-background-color: transparent;
  -fx-border-radius: 0;
}

.scroll-pane{
  -fx-background-color: transparent;
}

.statLabel {

}

.welcomeText {
  -fx-font-size: 100;
  -fx-font-weight: bold;
  -fx-font-family: "Montserrat", sans-serif;

}
.hover-label {
    -fx-font-size: 14px;
    -fx-underline: false;
}

.hover-label:hover {
    -fx-cursor: hand;
    -fx-underline: true;
}
.welcome-text {
    -fx-font-size: 24px;
}

.title-text {
    -fx-font-size: 36px;
    -fx-font-weight: bold;
}
.profile-text {
    -fx-font-weight: bold;
}

.section-header {
    -fx-font-size: 30px;
    -fx-font-weight: bold;
}

.welcome-text {
    -fx-font-size: 24px;
    -fx-font-weight: normal;
}

.title-text {
    -fx-font-size: 36px;
    -fx-font-weight: bold;
}
.favorites-section {
    -fx-padding: 20px;
}

.recently-viewed-section {
    -fx-padding: 20px;
}

/* Other CSS styles... */

.menuBar {
  -fx-fill: #e0e0e0;
}

.stockName {
  -fx-font-size: 18;
  -fx-font-weight: bold;
  -fx-padding: 10 0 0 0;
}

.sectorLabel{
  -fx-font-size: 12px;
  -fx-text-fill: #969696;
  -fx-padding: 0 10 3 0;
}

.backgroundPanelStockView {
  -fx-fill: white;
  -fx-arc-width: 15;
  -fx-arc-height: 15;
}

.chart-line-symbol {
  -fx-background-color: transparent;
}


.onHover {
  -fx-scale-x: 1.5;
  -fx-scale-y: 1.5;
  -fx-fill: red;
}

.default-color0.chart-series-line {
  -fx-stroke: #339ACC;
  -fx-stroke-width: 1.5px;
}

.default-color1.chart-series-line {
  -fx-stroke: gold;
}

.default-color2.chart-series-line {
  -fx-stroke: darkgrey;
}

.chart-series-line {
  -fx-stroke: #339ACC;
  -fx-stroke-width: 2px;
}

.searchField {
  -fx-focus-color: #339ACC;
  -fx-pref-height: 40px; /* Set preferred height */
  -fx-min-height: 10px; /* Set minimum height */
  -fx-max-height: 25px;
  -fx-background-color: transparent;
  -fx-font-size: 12;
  -color-cell-border: transparent;
}

.searchField .custom-text-field {
  -fx-padding: 0;
}

.searchField, .arrow, .arrow-button {
  -fx-background-color: white;
}

.searchField > .arrow-button {
  -fx-padding: 0;
}

.searchField > .arrow-button > .arrow {
  -fx-padding: 0;
  -fx-background-color: transparent;

}

.custom-text-field:left-node-visible .left-pane {
  -fx-padding: 0 0 0 -2000;
}

.custom-text-field:right-node-visible .right-pane {
  -fx-padding: 0;
  -fx-background-color: transparent;
}

.ratingsTile{
  -fx-spacing: 15px;
}

.currentPrice{
  -fx-font-size: 20;
}

.clickable-label {
    -fx-underline: false;
    -fx-text-fill: #000000;
}

.clickable-label:hover {
    -fx-underline: true;
    -fx-cursor: hand;
    -fx-text-fill: #0057D8;
}