@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.root{
  -fx-font-family: "Montserrat Regular", sans-serif;
}

.menuButton {
  -fx-background-color: #d9d9d9;
  -fx-padding: 5 10 5 10;

}

.scroll-pane:focused{
  -fx-focus-color: transparent;
  -fx-border-color: transparent;
  -fx-background-color: transparent;
  -fx-border-radius: 0;
}

.scroll-pane{
  -fx-background-color: transparent;
}

.statLabel {

}

.welcomeText {
  -fx-font-size: 100;
  -fx-font-weight: bold;
  -fx-font-family: "Montserrat", sans-serif;

}

.menuBar {
  -fx-fill: #e0e0e0;
}

.stockName {
  -fx-font-size: 18;
  -fx-font-weight: bold;
  -fx-padding: 10 0 0 0;
}

.sectorLabel{
  -fx-font-size: 12px;
  -fx-text-fill: #969696;
  -fx-padding: 0 10 3 0;
}

.backgroundPanelStockView {
  -fx-fill: white;
  -fx-arc-width: 15;
  -fx-arc-height: 15;
}

.chart-line-symbol {
  -fx-background-color: transparent;
}


.onHover {
  -fx-scale-x: 1.5;
  -fx-scale-y: 1.5;
  -fx-fill: red;
}

.default-color0.chart-series-line {
  -fx-stroke: #339ACC;
  -fx-stroke-width: 1.5px;
}

.default-color1.chart-series-line {
  -fx-stroke: gold;
}

.default-color2.chart-series-line {
  -fx-stroke: darkgrey;
}

.chart-series-line {
  -fx-stroke: #339ACC;
  -fx-stroke-width: 2px;
}

.searchField {
  -fx-focus-color: #339ACC;
  -fx-pref-height: 40px; /* Set preferred height */
  -fx-min-height: 10px; /* Set minimum height */
  -fx-max-height: 25px;
  -fx-background-color: white;
  -fx-font-size: 12;
  -color-cell-border: transparent;
}

.searchField .custom-text-field {
  -fx-padding: 0;
}



.searchField > .arrow-button {
  -fx-padding: 0;
}

.searchField .arrow-button > .arrow {
  -fx-padding: 0;
  -fx-background-color: transparent;

}

.custom-text-field:left-node-visible .left-pane {
  -fx-padding: 0 0 0 -2000;
}

.custom-text-field:right-node-visible .right-pane {
  -fx-padding: 0;
  -fx-background-color: transparent;
}

.ratingsTile{
  -fx-spacing: 15px;
  -fx-padding: 7;
  -fx-max-height: 60px;
}

.currentPrice{
  -fx-font-size: 20;
}

.percentageChange{
  -fx-font-size: 20;
  -fx-padding: 0 10 0 5;
}

ToggleButton{
  -fx-pref-height: 30;
  -fx-pref-width: 50;
  -fx-font-size: 14;
  -fx-font-weight: bold;
  -fx-background-color: #ececec;
  -fx-background-radius: 0;
}

ToggleButton:hover{
  -fx-background-color: #c4c4c4;
}

ToggleButton:selected{
  -fx-background-color: #c6daff;
  -fx-text-fill: #339ACC;
}

.historyFirstButton{
  -fx-background-radius: 5 0 0 5;
}

.historyLastButton{
  -fx-background-radius: 0 5 5 0;
}

.analysisSelector{
  -fx-pref-height: 30;
  -fx-pref-width: 150;
  -fx-font-size: 14;
  -fx-background-color: #ececec;
  -fx-background-radius: 5;
}

.analysisSelector:hover{
  -fx-background-color: #c4c4c4;
}

.combo-box-popup .list-view
{
  -fx-background-insets: 0, 0, 0, 0;
  -fx-background-radius: 5;
}

.combo-box-popup .list-view .list-cell:filled:hover
{
  -fx-background-color: #c4c4c4;
  -fx-text-fill: black;
}

.combo-box .list-view .list-cell:hover {
  -fx-background-color : #c4c4c4;
  -fx-text-fill: #000000;
}
.combo-box .list-view .list-cell:focused {
  -fx-background-color : #c4c4c4;
  -fx-text-fill: #000000;
}


